/* portfolio.css */
.portfolio-container {
  width: 768px;
  padding: 20px;
  box-sizing: border-box;
}

.ant-table-wrapper {
  max-height: 500px;
}

.portfolio-table-container {
  max-height: 500px;
  overflow: auto;
  border-radius: 10px;
}
.portfolio-table-container::-webkit-scrollbar {
  width: 0px;
}

.portfolio-table-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.portfolio-table-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Override table header background color */
.portfolio-table .ant-table-thead > tr > th {
  background-color: #0E111B;
  border: #21273a;
  color: #fff;
  text-align: center;
  
}

.portfolio-table .ant-table-tbody > tr:hover > td {
  background-color: #3a4157 !important;
  border: #243056;
}

/* Override table row selected background color */
.portfolio-table .ant-table-tbody > tr.ant-table-row-selected > td {
  background-color: #e6f7ff;
}

.portfolio-table .ant-table-tbody > tr > td {
  background-color: #1f2639;
  color: #fff;
}

@media screen and (max-width: 425px) {
  .portfolio-container {
    width: 100%;
  }
  .ant-table-content {
    overflow-x: auto;
  }

  .mainWindow {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding-left: 10px;
  }
  .portfolio-container {
    max-width: 450px;
    padding-left: 5px;
    padding-right: 5px;
  }


  .portfolio-table-container {
    max-height: unset;
    overflow: visible;
    width: 100%;
  }

  .portfolio-table .ant-table-thead > tr > th,
  .portfolio-table .ant-table-tbody > tr > td {
    white-space: normal;
    word-wrap: break-word;
    max-width: fit-content;
  }

  /* Adjust other styles as needed for smaller screens */
}

@media screen and (max-width: 375px) {
  .portfolio-container {
    width: 100%;
  }
  .ant-table-content {
    overflow-x: auto;
  }

  .mainWindow {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    padding-left: 10px;
  }
  .portfolio-container {
    max-width: 450px;
    padding-left: 5px;
    padding-right: 5px;
  }


  .portfolio-table-container {
    max-height: unset;
    overflow: visible;
    width: 100%;
  }

  .portfolio-table .ant-table-thead > tr > th,
  .portfolio-table .ant-table-tbody > tr > td {
    white-space: normal;
    word-wrap: break-word;
    max-width: fit-content;
  }

  /* Adjust other styles as needed for smaller screens */
}
