.gallery-container {
    width: 100%;
    margin: 0 auto;
    padding: 40px;
}

.title{
    color: white;;

}

.description{
    color: white;
}

.card{
    background-color: #1f2639;
    border-color: #1f2639;
}

.actions .ant-card-actions {
    background-color: #1f2639;
    border-color: #1f2639;
  }

.icon{
    color: white ;
}

.actions-menu {
    background-color: #1f2639;
    color: #ffffff;
    border: 1px solid #1f2639;
  }
  
  .actions-menu .ant-menu-item {
    padding: 8px 20px;
  }
  
  .actions-menu .ant-menu-item:hover {
    background-color: #39435f;
  }

  .etherscan {
    width: 14px;
    height: 14px;
  }

  .cover{
    max-height: 293.33px  ; 
    max-height : 293.33px ;
  }

  @media screen and (width: 1440){
    .cover{
      max-height: 213.33px; 
      max-width : 213.33px;
    }
  }

    @media screen and (width: 1024px) {
      .gallery-container {
        width: 100%;
        margin: 0 auto;
        padding: 40px;
    }
    
      .cover{
        height: 208.66px ; 
        width : 208.66px;
      }

      .ant-card-meta-avatar {
        display: none;
      }
      
      }

      @media screen and (width: 768px) {
        .gallery-container{
          align-items: center;
          align-content: center;
        }
  
        .ant-row {
          align-items: center;
        }
  
        .cover{
          height: 218.66px  ; 
          width : 218.66px;
        }
    
        .ant-card-meta-avatar {
          display: none;
        }
        
        }
        
      
        @media screen and (width: 516px) {

          .cover{
            max-height: 208.66px ; 
            max-width : 208.66px;
          }

          .ant-card-meta-avatar {
            display: none;
          }
          
          .ant-card-cover{
            max-width : 208.66px;
          }

          .ant-card {
            max-width : 208.66px;

          }
          }    